header {
    z-index: 100;
}

.toc a {
    font-size: 0.875rem; /* equivalent to text-sm */
    color: #71717a; /* equivalent to text-zinc-500 */
    transition: color 0.2s;
}

.toc a:hover {
    color: #1f2937; /* equivalent to text-zinc-900 */
    text-decoration: underline;
}

.dark .toc a {
    color: #a1a1aa; /* equivalent to dark:text-zinc-200 */
}

.toc ul ul {
    padding-left: 2rem;
}

pre {
    white-space: pre-wrap; /* Allow code wrapping */
    word-wrap: break-word; /* Break long words */
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Keep within parent container width */
}

/* Override font size for Prism-styled code blocks */
pre[class*="language-html"], code[class*="language-html"] {
    font-size: 0.875rem !important; /* Adjust the size as needed */
    /*line-height: 1.4 !important;*/
}

/* Optional: Adjust padding for a cleaner look */
pre[class*="language-html"] {
    padding: 0.5rem !important;
}