{#def
    className: str = ""
#}
<div
    x-data="{
      activeItem: undefined,
      toggleItem(value) {
        this.activeItem = this.activeItem === value ? undefined : value;
      }
    }"
    class="{{ className }} w-full"
    {{ attrs.render() }}
>
  {{ content }}
</div>
