{# def
    id: str = "",
    className: str = "",
#}
<!-- DialogContent -->
<div id="{{ id }}"
    x-show="open"
    @keydown.escape.window="open = false"
    x-transition:enter="transition ease-out duration-300"
    x-transition:leave="transition ease-in duration-300"
    class="fixed left-[50%] top-[50%] w-full max-w-lg transform -translate-x-1/2 -translate-y-1/2 bg-white shadow-lg z-50 p-6 rounded-lg border border-zinc-200 dark:border-zinc-700 dark:bg-zinc-950{{ className }}"
    @click.away="open = false">

  <DialogClose/>

  {{ content }}
</div>
