<div
    x-show="subOpen"
    @mouseenter="subOpen = true"
    @mouseleave="subOpen = false"
    class="absolute top-0 left-full -ml-2 w-32 bg-white shadow-lg border rounded-md z-50"
>
  <ul>
    {{ content }}
  </ul>
</div>
