<div
    x-show="subOpen"
    @mouseenter="subOpen = true"
    @mouseleave="subOpen = false"
    class="absolute top-0 left-full -ml-2 w-32 bg-white shadow-lg border rounded-md z-50 dark:bg-zinc-950 dark:text-zinc-50 dark:border-zinc-700"
>
  <ul>
    {{ content }}
  </ul>
</div>
