<div
    @mouseenter="subMenuOpen = true"
    @mouseleave="subMenuOpen = false"
    class="relative flex items-center"
>
  {{ content }}
  <span class="ml-2">></span> <!-- You can replace this with an SVG icon -->
</div>
