<div
    x-show="subMenuOpen"
    @mouseenter="subMenuOpen = true"
    @mouseleave="subMenuOpen = false"
    x-transition
    class="absolute left-[calc(100%-0.5rem)] top-0 mt-0 w-48 bg-white shadow-md rounded z-50 border border-zinc-200 dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50"
>
  {{ content }}
</div>
