{# DropdownMenuContent.jinja #}
<div
    x-show="menuOpen"
    @click.away="menuOpen = false"
    x-transition
    class="absolute left-0 mt-2 w-48 bg-white shadow-md rounded z-50"
>
  {{ content }}
</div>
