{# def
    id: str = "",
    className: str = "",
    error: bool = False,
#}
<div class="{{ className }}">
  <Input
      type="email"
      id="email"
      placeholder="Email"
      :error="{{ error }}"
  />
</div>
