{# def
    id: str = "",
    name: str = "",
    options: list = [],
    value: str = "",
    className: str = "",
#}

<div id="{{ id }}" class="space-y-4 {{ className }}">
  {% for option in options %}
    <div class="flex items-center space-x-2">
      <input
          type="radio"
          id="{{ option.id }}"
          name="{{ name }}"
          value="{{ option.value }}"
          class="form-radio text-indigo-600 border-zinc-200 dark:border-zinc-700 dark:bg-zinc-950 focus:ring-indigo-500 dark:focus:ring-indigo-300 accent-black"
      />
      <label for="{{ option.id }}" class="flex items-center cursor-pointer">
        <span class="ml-2">{{ option.label }}</span>
      </label>
    </div>
  {% endfor %}
</div>
