{#def
    name: str = "select",
    className: str = ""
#}
<div
    x-data="{ open: false, selectedValue: '', selectedLabel: '' }"
    class="relative {{ className }}"
>
  <input
      type="hidden"
      name="{{ name }}"
      :value="selectedValue"
      {{ attrs.render() }}
  />
  {{ content }}
</div>
