{# def
    id: str = "",
    className: str = ""
#}
<hr
    id="{{ id }}"
    class="-mx-1 my-1 h-px border-0 bg-zinc-100 dark:bg-zinc-700 dark:opacity-50 {{ className }}"
    {{ attrs.render() }}
/>
