{# def
    id: str = "",
    className: str = ""
#}
<div id="{{ id }}" class="flex cursor-default items-center justify-center py-1 {{ className }}" {{ attrs.render() }}>
  <Icon name="chevron-down" class="h-4 w-4" />
</div>
