<div
    x-show="$refs.viewport.scrollTop > 0"
    @mouseenter="$refs.viewport.scrollBy({ top: -30, behavior: 'smooth' })"
    class="flex items-center justify-center py-1 cursor-pointer">
  <ChevronUp class="h-4 w-4" />
</div>
