{#def
    name: str = "",
    className: str = ""
#}
<div
    x-data="{ open: false, selected: '' }"
    class="relative {{ className }}"
>
  <input
      type="hidden"
      name="{{ name }}"
      :value="selected"
  />
  {{ content }}
</div>
