{# def
    id: str = "",
    className: str = "",
    disabled: bool = False,
    value: str = ""
#}
<div
    id="{{ id }}"
    class="relative flex w-full cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none hover:bg-zinc-100 hover:text-zinc-900 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 focus:bg-zinc-100 focus:text-zinc-900 dark:focus:bg-zinc-800 dark:focus:text-zinc-50 {{ className }}"
    @click="selected = '{{ value }}'; open = false"
    {% if disabled %}disabled{% endif %}
    {{ attrs.render() }}
>
  <!-- Only show the checkmark if the current option is selected -->
  <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
    <Icon name="check" class="h-4 w-4 dark:invert" x-show="selected === '{{ value }}'" />
  </span>
  {{ value }}
</div>
