{# def
    id: str = "",
    className: str = "",
    name: str = "",
    disabled: bool = False,
    selected: str = "Select an option"
#}
<div
    id="{{ id }}"
    class="flex h-10 w-full items-center justify-between rounded-md border border-zinc-200 bg-white px-3 py-2 text-sm ring-offset-white placeholder:text-zinc-500 focus:outline-none focus:ring-2 focus:ring-zinc-950 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-zinc-800 dark:bg-zinc-950 dark:ring-offset-zinc-950 dark:placeholder:text-zinc-400 dark:focus:ring-zinc-300 {{ className }}"
    @click="open = !open"
    {% if disabled %}disabled{% endif %}
    {{ attrs.render() }}
>
  <!-- Hidden input to store the selected value for form submission -->
  <input type="hidden" name="{{ name }}" x-model="selected" />

  <!-- Display the selected value -->
  <span id="select-value" class="line-clamp-1" x-text="selected"></span>

  <!-- Icon -->
  <Icon name="chevron-down" class="h-4 w-4 opacity-50 dark:invert" />
</div>
