<div
    x-show="canScrollUp"
    @mouseenter="
        scrollInterval = setInterval(() => {
            $refs.viewport.scrollBy({ top: -40, behavior: 'smooth' });  // Faster scroll amount
            checkScroll();
        }, 30);  // Faster interval
    "
    @mouseleave="clearInterval(scrollInterval)"
    class="flex items-center justify-center py-1 cursor-pointer"
>
  <ChevronUp class="h-4 w-4" />
</div>
