{# def
  id: str = "",
  className: str = ""
#}
<tr  class="border-b border-zinc-200 dark:border-zinc-700 transition-colors hover:bg-zinc-100/50 data-[state=selected]:bg-zinc-100 dark:hover:bg-zinc-800/50 dark:data-[state=selected]:bg-zinc-800 {{ className }}" {{ attrs.render() }}>
  {{ content }}
</tr>
