{# def
  id: str = "",
  className: str = ""
#}
<tfoot id="{{ id }}" class="border-t border-zinc-200 dark:border-zinc-700 bg-zinc-100/50 font-medium dark:bg-zinc-800/50 {{ className }}" {{ attrs.render() }}>
{{ content }}
</tfoot>
