{# def
  id: str = "",
  className: str = ""
#}
<div class="relative w-full overflow-visible">
  <table  class="w-full caption-bottom text-sm {{ className }}" {{ attrs.render() }}>
    {{ content }}
  </table>
</div>
