{# def
  id: str = "",
  className: str = "",
  toast_target: str = "",
#}
{% set click_action="$dispatch('show-toast', '" + toast_target + "')" %}
{# prettier-ignore-start #}
<Button :@click="{{ click_action }}" class="{{ className }}">
  {{ content }}
</Button>
{# prettier-ignore-end #}
