{#def
    defaultValue: str = "",
    className: str = "",
#}
<div
    x-data="{
        selectedValue: '{{ defaultValue }}'
    }"
    role="radiogroup"
    class="{{ className }} grid gap-2"
>
  {{ content }}
</div>
