<h2 class="m-10">Alerts</h2>

<Alert>
  <Icon name="terminal" className="mr-2 h-4 w-4" />
  <div>
    <AlertTitle>Default</AlertTitle>
    <AlertDescription>
      <p>This is a default alert.</p>
    </AlertDescription>
  </div>
</Alert>

<Alert variant="destructive">
  <Icon name="circle-alert" className="mr-2 h-4 w-4" color="text-red-500 dark:text-red-700" />
  <div>
    <AlertTitle>Error</AlertTitle>
    <AlertDescription>
      <p>This is a destructive alert.</p>
    </AlertDescription>
  </div>
</Alert>
