<h2 class="m-10">Buttons</h2>


<Button>Button</Button>
<Button variant="secondary">Secondary</Button>
<Button variant="destructive">Destructive</Button>
<Button variant="outline">Outline</Button>
<Button variant="ghost">Ghost</Button>
<Button variant="link">Link</Button>

<Button variant="outline" size="icon">
  <Icon name="chevron-right" className="h-4 w-4"/>
</Button>


<Button>
  <Icon name="mail" className="mr-2 h-4 w-4" invert="True" />
  Login with Email
</Button>

<Button disabled>
  <Icon name="loader-circle" className="mr-2 h-4 w-4 animate-spin" invert="True"/>
  Please wait
</Button>
