<h2 class="m-10">DropdownMenu</h2>

<DropdownMenu>
  <DropdownMenuTrigger class="btn btn-primary"><Button variant="outline">DropdownMenu here</Button></DropdownMenuTrigger>
  <DropdownMenuContent class="mt-2">
    <DropdownMenuItem>Action 1</DropdownMenuItem>
    <DropdownMenuItem>Action 2</DropdownMenuItem>
    <DropdownMenuItem>Action 3</DropdownMenuItem>
  </DropdownMenuContent>
</DropdownMenu>
