<h2 class="m-10">Icons</h2>

<Icon name="mail" className="mr-2 h-4 w-4" />

<Icon name="loader-circle" className="mr-2 h-4 w-4 animate-spin" />

<Icon name="x" className="h-4 w-4" />


<AArrowDown id="icon-1" className="h-4 w-4" color="text-blue-500"/>
<CircleUser className="h-5 w-5" />
