<h2 class="m-10">Icons</h2>

<Mail className="mr-2 h-4 w-4" />

<LoaderCircle className="mr-2 h-4 w-4 animate-spin" />

<ChevronUp className="h-4 w-4" />


<AArrowDown id="icon-1" className="h-4 w-4" color="text-blue-500"/>
<CircleUser className="h-5 w-5" />
