<!-- placeholde-->
<Input type="email" placeholder="Email"/>

<! -- file -->
<div className="grid w-full max-w-sm items-center gap-1.5">
  <Label htmlFor="picture">Picture</Label>
  <Input id="picture" type="file"/>
</div>

<! -- InputWithLabel -->
<div className="grid w-full max-w-sm items-center gap-1.5">
  <Label htmlFor="email">Email</Label>
  <Input type="email" id="email" placeholder="Email"/>
</div>

<! -- InputWithButton -->
<div className="flex w-full max-w-sm items-center space-x-2">
  <Input type="email" placeholder="Email"/>
  <Button type="submit">Subscribe</Button>
</div>

<! -- peer disabled -->
<Input id="email" type="text" class="peer" disabled />
<Label for="email" disabled="true">Email Address</Label>
