<Dialog>
  <DialogTrigger>Open Dialog</DialogTrigger>
  <DialogOverlay />
  <DialogContent @keydown.escape.window="open = false" @click.away="open = false">
    <DialogClose/>
    <DialogHeader>
      <DialogTitle>Dialog Title</DialogTitle>
      <DialogDescription>
        This is a description for the dialog content.
      </DialogDescription>
    </DialogHeader>
    <DialogBody>
      This is the dialog body
    </DialogBody>
    <DialogFooter>
      <Button variant="outline"
          @click="open = false">Cancel</Button>
      <Button>Confirm</Button>
    </DialogFooter>
  </DialogContent>
</Dialog>
