{# Table Component Example #}

{% set sortOder="name" %}

<Table class="min-w-full divide-y divide-zinc-300">
  <TableCaption>
    A list of users and their roles in the organization.
  </TableCaption>

  <TableHeader>
    <TableRow>
      <TableHead href="?sort=name&order=asc" sorted sortOrder="asc">
        Name
      </TableHead>
      <TableHead href="?sort=title&order=asc" sorted sortOrder="desc">
        Title
      </TableHead>
      <TableHead href="?sort=email&order=asc"  sortOrder="{{ sortOrder == 'asc' }}">
        Email
      </TableHead>
      <TableHead href="?sort=role&order=asc" >
        Role
      </TableHead>
      <TableHead>
        Actions
      </TableHead>
    </TableRow>
  </TableHeader>

  <TableBody>
    <TableRow>
      <TableCell>John Doe</TableCell>
      <TableCell>Frontend Developer</TableCell>
      <TableCell>john.doe@example.com</TableCell>
      <TableCell>Admin</TableCell>
      <TableCell><a href="#">Edit</a></TableCell>
    </TableRow>
    <TableRow>
      <TableCell>Jane Smith</TableCell>
      <TableCell>Backend Developer</TableCell>
      <TableCell>jane.smith@example.com</TableCell>
      <TableCell>Member</TableCell>
      <TableCell><a href="#">Edit</a></TableCell>
    </TableRow>
  </TableBody>

  <TableFooter>
    <TableRow>
      <TableCell colspan="5" class="text-center font-semibold">
        End of Data
      </TableCell>
    </TableRow>
  </TableFooter>
</Table>
