<h2 class="m-10">toast</h2>

<!-- Trigger for the toast -->
<ToastTrigger toast_target="toast-default">Show default Toast</ToastTrigger>
<ToastTrigger toast_target="toast-success">Show Success Toast</ToastTrigger>
<ToastTrigger toast_target="toast-error">Show error Toast</ToastTrigger>
<ToastTrigger toast_target="toast-warning">Show warning Toast</ToastTrigger>

<!-- default Toast -->
<Toast id="toast-default" show="false" duration="4000">
  <ToastContent
      type="default"
      title="default!"
      description="Your operation was default."
  />
</Toast>

<!-- Success Toast -->
<Toast id="toast-success" show="false" duration="4000">
  <ToastContent
      type="success"
      title="Success!"
      description="Your operation was successful."
  />
</Toast>

<!-- error Toast -->
<Toast id="toast-error" show="false" duration="4000">
  <ToastContent
      type="error"
      title="error!"
      description="Your operation was error."
  />
</Toast>

<!-- warning Toast -->
<Toast id="toast-warning" show="false" duration="4000">
  <ToastContent
      type="warning"
      title="warning!"
      description="Your operation was warning."
  />
</Toast>
