{# def
    files: List[Dict[str,str]]
#}

<div x-data="{ activeTab: '{{ files[0].name }}' }" class="mb-8">
    <!-- Tab Navigation -->
    <div class="max-w-lg overflow-x-scroll round">
    <nav class="flex border-b border-zinc-200 dark:border-zinc-800 mb-4 ">
        {% for f in files %}

            {% set name = f.name %}
            {% set file = f.file %}

            <button @click="activeTab = '{{ name }}'"
                    :class="{
                    'text-zinc-900 font-semibold dark:text-zinc-100 border-b-2 border-zinc-900 dark:border-zinc-100': activeTab === '{{ name }}',
                    'text-zinc-600 font-semibold dark:text-zinc-400': activeTab !== '{{ name }}'}"
                    class="py-2 px-4 text-sm transition-colors hover:text-zinc-900 dark:hover:text-zinc-100">
                {{ name }}
            </button>
        {% endfor %}
    </nav>
    </div>

    <!-- Tab Content -->
    {% for f in files %}

        {% set name = f.name %}
        {% set file = f.file %}
        {% set lang = f.language %}

        {% set code_lang = "language-%s"|format(f.lang) %}

        <div x-show="activeTab === '{{ name }}'" class="relative">
            <pre class="language-html p-4 bg-zinc-50 dark:bg-zinc-900 rounded-md"><code x-ref="code" class="{{ code_lang }}">{{ file | include_file | trim | e }}</code></pre>
            <CopyPasteButton/>
        </div>
    {% endfor %}
</div>
