{#  def
    item: NavItem,
    current_path: str
#}

{%- macro current_nav(current_path) -%}
    {{ "text-black dark:text-white font-bold" if item.href == current_path else "text-zinc-500" }}
{%- endmacro -%}

<a href="{{ item.href }}" class="text-sm hover:text-zinc-900 hover:underline dark:hover:text-zinc-200 {{ current_nav(current_path) }}">
    {{ item.title }}
</a>