{# def
    current_path: str = "",
    side: str = "left"
#}

{% set className = {
    'left': 'hidden md:block h-[calc(100vh-3.5rem)] sticky top-14 w-[220px] overflow-y-auto border-r border-zinc-200 dark:border-zinc-800 py-6 pr-2',
    'right': 'hidden lg:block h-[calc(100vh-3.5rem)] sticky top-14 w-[220px] overflow-y-auto border-l border-zinc-200 dark:border-zinc-800 py-6 pl-2'
}[side] %}

<aside class="{{ className }}">
    <nav class="px-4">
        {{ content }}
    </nav>
</aside>