{# Navigation.jinja #}
{# def
    id: str = "",
    className: str = "",
#}
<nav id="{{ id }}" class="hidden flex-col gap-6 md:flex md:flex-row md:items-center {{ className }}">
  {{ content }}
</nav>
