<h2 class="m-10">Forms</h2>


{% set error=True %}
{% set error_message="invalid email" %}


<Form method="POST" action="/submit">
  <FormItem id="email-field">
    <FormLabel htmlFor="email">Email Address</FormLabel>
    <Input
        id="email"
        placeholder="Email"
        type="email"
    />
    <FormDescription id="email-description">We'll never share your email.</FormDescription>
  </FormItem>
  <Button type="submit">Submit</Button>
</Form>


<Form method="POST" action="/submit">
  <FormItem id="email-field">
    <FormLabel htmlFor="emalocil" :error="{{ error }}">Email Address</FormLabel>
    <Input
        id="email"
        type="email"
        :error="{{ error }}"
    />
    <FormDescription id="email-description">We'll never share your email.</FormDescription>
    <FormMessage id="email-message" :error="{{ error }}">{{ error_message }}</FormMessage>
  </FormItem>
  <Button type="submit">Submit</Button>
</Form>

<h2 class="m-10">Checkbox Example</h2>
<Checkbox id="agree_terms" checked="true" className="mr-2" label="I agree to the terms and conditions" />


<h2 class="m-10">Radio Group Example</h2>
<RadioGroup
    id="gender"
    name="gender"
    :options='[
        {"id": "male", "value": "M", "label": "Male"},
        {"id": "female", "value": "F", "label": "Female"},
        {"id": "other", "value": "O", "label": "Other"}
    ]'
    value="M"
/>

<h2 class="m-10">Textarea Example</h2>
<Textarea
    id="bio"
    placeholder="Write a brief bio..."
    value="I love coding and coffee."
    className="mb-4"
/>
